.student-name-input{
    border: 2px solid black;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
form{
    padding: 15px;
}
select{
    border: 2px solid rgb(12, 12, 12);
    border-radius: 5px;
    padding: 1.5px 5px 1.5px 5px;
    margin: 5px;
    cursor: pointer;
}
.header-button{
    border: 2px solid rgb(12, 12, 12);
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    margin: 5px;
    cursor: pointer;
}

.form-items{
display: flex;
gap: 0.8rem;
flex-wrap: wrap;
}
.student-search-items{
    display: flex;
gap: 0.8rem;
flex-wrap: wrap;
}
.date-button{
   
   background-color:#dcfce7;
   color:#166534;
   padding:0.3rem 0.7rem;
   border-radius:999px;
   font-size:0.85rem;
   font-weight:600;
}