.personalinfo-card-main-div{
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    background-color: rgb(236, 236, 247);
    border-radius: 10px;
}

.personalinfo-card-main-div p{
    font-weight: 500;
    font-size: large;
    margin: 0.5rem;
    overflow-y: auto;
    
}
.personalinfo-card-main-div .profile-name{
    font-size: xx-large;
    font-weight: 700;
}
.parent-info-container{
    display: flex;
    
}