.main-div{
    background-color:#F8FAFC;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    border-radius: 10px;
    margin: auto;
    transition: all 0.3s ease;
}

.main-div-collapse{
    background-color:#F8FAFC;
    width: 80px;
    height: 100vh;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
     transition: all 0.3s ease;
}

.main-option{
    
}

.admin-line{
    font-weight: 700;
    font-size: larger;
    color: black;
}
.sidebar-userpanel{
    display: flex;
    justify-content: center;
    height: 120px;
}
.sidebar-userpanel-collapse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        height: 150px;
}

.collapse-icon{
    margin: 7px;
    margin-top: 1rem;
}
.collapse-icon:hover{
    cursor: pointer;
}

.collapse-icon-collapse{
    cursor: pointer;
    margin-top: -0.5rem;
}
.bottom-section{
    margin-top: auto;
}